{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Записи группы {{ group }} 
{% endblock %}
{% block header %} <h1>{{ group.title }}</h1> {% endblock %}
{% block content %}
  <h1> Записи группы: {{ group.title }} </h1>
  <p> {{ group.description|linebreaksbr }} </p>
  {% for post in page_obj %}
    {% include 'posts/includes/post.html' with group=False %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %} 
  {% include 'posts/includes/paginator.html' %}
{% endblock %}       